@import "src/shared/styles/colors";
:host {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.search-box-wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;

  .search-box-input {
    border: 1px solid #989B9B;
    border-radius: 0.3125rem;
    width: 100%;
    font-size: 1rem;
    padding-left: 3.8125rem;
    min-height: 50px;

    &::placeholder {
      color: #C4C4C4;
    }
  }

  ::ng-deep {
    object {
      position: absolute;
      left: 1.375rem;
      top: 50%;
      height: 1.5625rem;
      margin-top: -0.78125rem;
    }
  }

}

