.table-wrapper {
  padding: 0.75rem 0.75rem 0.375rem 0.75rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

  .table-header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
    gap: 1.25rem;
    padding: 1.5rem 0 2.25rem 0;
    font-size: 1rem;
    font-weight: 700;
    justify-items: center;
  }

  .table-body {
    .table-item {
      margin-bottom: 1.5rem;
    }
  }
}
