@import "src/shared/styles/colors";

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 5.0625rem 0 2.5625rem;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);

  .navbar-menu-icon {
    display: none;
    padding: 2rem 0;
  }

  .navbar-logo {
    max-width: 9.3125rem;
    cursor: pointer;
  }

  .navbar-options {
    display: flex;
    align-items: center;
    gap: 5.625rem;
  }

  .navbar-user {
    display: flex;
    align-items: center;
    margin: 20px;

    &::before {
      content: "";
      height: 2.8125rem;
      width: 1px;
      background-color: $gray;
      margin-right: 2.5rem;
    }

    .navbar-user-image {
      width: 4.0625rem;
      margin-right: 0.8125rem;
      cursor: pointer;
    }
  }
}


@media screen and (max-width: 1200px) {
  .navbar-wrapper {
    padding: 0 2rem;

    .navbar-logo {
      max-width: 6rem;
    }

    .navbar-options {
      gap: 2rem;
      ::ng-deep {
        .navbar-option, .navbar-option-title {
          font-size: 14px;
        }
      }
    }

    .navbar-user {
      .navbar-user-image {
        width: 2rem;
      }
    }
  }
}

@media screen and (max-width: 820px) {
 .navbar-wrapper {
   .navbar-options, .navbar-user {
     display: none;
   }
   .navbar-menu-icon {
     display: block;
   }
 }
}
