@import "src/shared/styles/colors";

.navbar-option {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 2.625rem 0;
  color: $dark-gray;
  font-weight: bold;
  transition: all .3s ease;

  ::ng-deep {
    .navbar-option-arrow-down {
      width: 0.625rem !important;
    }
    object {
      // dark gray color
      filter: invert(54%) sepia(6%) saturate(4%) hue-rotate(317deg) brightness(100%) contrast(86%);
    }

  }

  &.active {
    color: $red;
    ::ng-deep {
      // red color
      object {
        filter: invert(46%) sepia(48%) saturate(1486%) hue-rotate(317deg) brightness(103%) contrast(104%);
      }
    }


    &::after {
      content: "";
      position: absolute;
      background-color: $red;
      width: 100%;
      height: 0.375rem;
      bottom: 0;
      animation: Expand .3s both;
    }
  }
  .navbar-option-title {
    margin: 0 0.5625rem; // pending
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

@keyframes Expand {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
