$red: #FF5A70;
$gray: #C4C4C4;
$light-gray: #F9F9F9;
$dark-gray: #898989;
$gray-2: #EBEBEB;
$green: #36CF82;
$light-green: rgba(54, 207, 130, 0.18);
$orange: #F29D42;
$light-orange: rgba(242, 157, 66, 0.3);
$black: #1C0B11;

