@import "src/shared/styles/colors";

.content {
  padding: 3.75rem 11.25rem;

  .title {
    margin-bottom: 3.125rem;
    text-align: center;
    size: 2rem;
    line-height: 2.25rem;
    font-weight: 700;
  }

  .contracts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;

    .contracts-search-filter-wrapper {
      display: flex;
      align-items: stretch;
      gap: 1.125rem;
      height: 3.75rem;

      .contracts-actions {
        display: flex;
        align-items: stretch;
        gap: 1.125rem;
      }
    }

    .contracts-actions-filters {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(5.5rem, 1fr));
      align-items: center;
      gap: 1.75rem;

      .column-2 {
        grid-column: span 2;
      }

      .column-3 {
        grid-column: span 3;
      }
    }
  }
}

@media screen and (max-width: 912px) {
  .contracts-actions-filters {
    .column-2,
    .column-3 {
      grid-column: 1 / -1 !important;
      display: flex;
      justify-content: center;
    }

    input {
      width: 100%;
      max-width: 230px;
    }
  }
}

@media screen and (max-width: 830px) {
  .contracts-wrapper {
    .contracts-search-filter-wrapper {
      flex-wrap: wrap;
      height: auto !important;
      justify-content: center;
    }

    .contracts-actions {
      width: 100%;

      ::ng-deep {
        app-button:first-of-type {
          width: 70%;
          button {
            width: 100%;
          }
        }

        app-button:last-of-type {
          width: 130%;
          button {
            width: 100%;
          }
        }
      }

    }


  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 3.75rem 2rem;
  }
}
