<app-navbar></app-navbar>
<main class="content">
  <h1 class="title">Contracts for Client</h1>
  <div class="contracts-wrapper">
    <div class="contracts-search-filter-wrapper">
      <app-search-box></app-search-box>
      <div class="contracts-actions">
        <app-button text="Filter" type="secondary" icon="filter"></app-button>
        <app-button text="New hire" icon="plus"></app-button>
      </div>
    </div>
    <div class="contracts-actions-filters">
      <div class="input-icon-wrapper column-3">
        <app-icon iconClass="left-icon" icon="calendar"></app-icon>
        <input appInput placeholder="Create on: Jan/10/21 - Jan/28/21" disabled>
        <app-icon iconClass="right-icon" icon="arrow-down"></app-icon>
      </div>
      <div class="input-icon-wrapper just-right-icon column-2">
        <input appInput placeholder="Contact Type">
        <app-icon iconClass="right-icon" icon="arrow-down"></app-icon>
      </div>
      <div class="column-3">
        <input appInput placeholder="Contractor Name">
      </div>
      <div class="input-icon-wrapper just-right-icon column-2">
        <input appInput placeholder="Status">
        <app-icon iconClass="right-icon" icon="arrow-down"></app-icon>
      </div>
    </div>

    <app-table [data]="contractors" [columns]="contractsColumns">
      <ng-template #listItem let-item>
        <app-contractor-item [contractor]="item"></app-contractor-item>
      </ng-template>
    </app-table>
  </div>

</main>
