<div class="contractor-item">
  <div class="contractor-item-profile">
    <img class="contractor-item-profile-image" [src]="contractor.profileImg" alt=""/>
    <span>{{contractor.name}}</span>
  </div>
  <span>{{contractor.type}}</span>
  <span>{{contractor.startDate | date}}</span>
  <span>{{contractor.amount | currency}} USD</span>
  <app-badge
    [mode]="contractor.status === 'Active' ? 'success' : 'pending'"
    [text]="contractor.status">
  </app-badge>
  <div class="actions-wrapper">
    <app-icon class="cursor-pointer" (click)="toggleContextMenu()" icon="options"
    ></app-icon>
    <app-context-menu
      (onHide)="toggleContextMenu()"
      [open]="openContextMenu"
      [options]="contractorActions">
    </app-context-menu>
  </div>

</div>
