@import "src/shared/styles/colors";

.contractor-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
  gap: 1.25rem;
  padding: 2.0625rem 0 2.0625rem 1.4375rem;
  background-color: $light-gray;
  justify-items: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
  .actions-wrapper {
    display: relative;
  }
  .contractor-item-profile {
    display: flex;
    align-items: center;

    .contractor-item-profile-image {
      width: 2.5625rem;
      margin-right: 0.9375rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 3.75rem 2rem;
  }
}

