@import "src/shared/styles/colors";
:host {
  display: flex;
}
.button {
  padding: 15px 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3125rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border: none;
  font-weight: 700;
  font-size: 1.125rem;
  cursor: pointer;
  white-space: nowrap;

  &.primary {
    background-color: $red;
    color: #fff;
  }

  &.secondary {
    padding: 15px 20px;
    font-weight: 500;
    background-color: $gray-2;
    color: $black;
    box-shadow: none;
  }


  ::ng-deep {
    object {
      margin-right: 10px;
    }
  }

}
